<div class="col s12 m5">
  <div class="card">
    <div class="card-content grey lighten-2">
      <span class="card-title">Agregar Proceso</span>
    </div>
    <div class="card-content">
      <div class="row">
        <form class="col s12" [formGroup]="priorityForm" (ngSubmit)="onAddProcess()">
          <div class="row">
            <div class="input-field col s12">
              <input id="processName" type="text" class="validate" formControlName="processName" data-length="10" #processName>
              <label for="processName">Nombre del proceso</label>
              <span class="helper-text" data-error="El valor ingresado es invalido" data-success="Correcto" *ngIf="!priorityForm.touched"></span>
            </div>
            <div class="input-field col s12">
              <input id="size" type="number" class="validate" formControlName="size" min="1">
              <label for="size">Espacio que ocupa en memoria (Megabytes)</label>
              <span class="helper-text" data-error="El valor ingresado es invalido" data-success="Correcto" *ngIf="!priorityForm.touched"></span>
            </div>
            <div class="input-field col s12">
              <input id="burstTime" type="number" class="validate" formControlName="burstTime" min="1">
              <label for="burstTime">Tiempo de ejecución (Segundos)</label>
              <span class="helper-text" data-error="El valor ingresado es invalido" data-success="Correcto" *ngIf="!priorityForm.touched"></span>
            </div>
            <div class="input-field col s12">
              <input id="priority" type="number" class="validate" formControlName="priority" min="0">
              <label for="priority">Prioridad</label>
              <span class="helper-text" data-error="El valor ingresado es invalido" data-success="Correcto" *ngIf="!priorityForm.touched"></span>
            </div>
            <div class="col s12" formArrayName="devices">
              <div class="row" *ngFor="let device of priorityForm.get('devices').controls; let i=index" [formGroupName]="i">
                <div class="input-field col s10">
                  <input [id]="i" type="text" class="validate" formControlName="name">
                  <label [for]="i">Dispositivo {{ i + 1 }}</label>
                  <span class="helper-text" data-error="El valor ingresado es invalido" data-success="Correcto" *ngIf="!priorityForm.touched"></span>
                </div>
                <div class="col s1">
                  <button type="button" class="btn-flat btn-large" (click)="onRemoveDevice(i)"><i class="material-icons">remove_circle_outline</i></button>
                </div>
              </div>
              <div class="col s1 offset-s5">
                <button type="button" class="btn-flat btn-large" (click)="onAddDevice()"><i class="material-icons">add_circle_outline</i></button>
              </div>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!priorityForm.valid">Agregar Proceso
            <i class="material-icons right">add</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
